.mat-form-field {
  margin-right: 4px;
}

main {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.empty {
  text-align: center;
  font-weight: bold;
}

.example-card {
  max-width: 400px;
  height: fit-content;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-title {
  display: flex;
  align-items: center;
}

mat-expansion-panel-header {
  height: 65px !important;
}

.mat-btn {
  padding: 5px;
  margin: 5px;
}
