<main>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <button mat-button (click)="getEmployee(node.item.data)">{{node.item.label}}</button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <button mat-button (click)="getDetails(node)">{{node.item.label}}</button>
    </mat-tree-node>
  </mat-tree>

  <app-company-details [isCompanyDetailsVisible]="isCompanyDetailsVisible"
                       (hideDetails)="isCompanyDetailsVisible = null"
                       (addProject)="addProject($event)"
                       (removeProject)="removeProject($event)"
                       (addEmployee)="addEmployee($event)"
                       (removeEmployee)="removeEmployee($event)"></app-company-details>

  <app-employee-details [isEmployeeDetailsVisible]="isEmployeeDetailsVisible"
                        (hideDetails)="isEmployeeDetailsVisible = null"></app-employee-details>

  <app-area-details [isAreaDetailsVisible]="isAreaDetailsVisible"
                    (hideDetails)="isAreaDetailsVisible = null"></app-area-details>
</main>
